<div class="row mt-4">
  <div class="col-lg-10">

    <div class="mb-3">
      <h3>{{ topic.title }}</h3>
    </div>

    <ng-container [ngTemplateOutlet]="pagination"></ng-container>

    <div class="col-md-12 mt-3">
      <ul class="list-group">
        <li class="card mb-3" *ngFor="let post of pageablePosts |
        paginate: {
         itemsPerPage: numberOfPostsOnOnePage,
         currentPage: pageNumber,
         totalItems: totalPosts
          }; let i = index" [attr.data-index]="i + 1" [attr.id]="i + 1">

          <div class="row g-0">

            <div class="col-md-2">
              <figure class="figure mb-0">

                <ng-container
                  *ngIf="post.profilePic !=null; then showUserAvatar; else showDefaultAvatar">
                </ng-container>

                <ng-template #showUserAvatar>
                  <img [src]="'data:image/jpeg;base64,' + post.profilePic"
                       alt="{{ post.user }}"
                       class="img-fluid rounded-start user-image">
                </ng-template>

                <ng-template #showDefaultAvatar>
                  <img class="img-fluid rounded-start user-image"
                       src="https://eu.ui-avatars.com/api/?size=256&name={{ post.user }}&length=1&color=FFFFFF&background=d4730b"
                       alt="{{ post.user }}">
                </ng-template>

                <figcaption class="figure-caption text-center mt-1">
                  <a class="user-profile-link"
                     [routerLink]="['/user-profile-settings/', post.user]">
                    {{ post.user }}
                  </a>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-10">
              <div class="text-muted date-time-post">Posted {{ post.dateTime | date: 'medium' }}</div>
              <div class="content-post"> {{ post.content }} </div>
            </div>

          </div>
        </li>
      </ul>
    </div>

    <ng-container [ngTemplateOutlet]="pagination"></ng-container>

    <app-post-add [topicId]="topicId"></app-post-add>

  </div>
</div>

<ng-template #pagination>
  <div class="col-md-12" *ngIf="totalPages > 1">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>
</ng-template>
