<div class="row mt-4">
  <div class="col-12">

    <div class="col-md-10 mb-3 d-flex">
      <h3>{{ topic.title }}</h3>
      <app-topic-admin-buttons
        class="ms-auto topic-admin-buttons-wrapper"
        *ngIf="showAdminButtons"
        (isTopicOpenStatusHasChangedEvent)="reloadData()"
        [topicId]="topicId"
        [isTopicOpen]="!topic.closed">
      </app-topic-admin-buttons>
    </div>

    <ng-container [ngTemplateOutlet]="pagination"></ng-container>

    <ul class="list-group mt-3">
      <li class="row mb-3 g-0" *ngFor="let post of pageablePosts |
        paginate: {
         itemsPerPage: numberOfPostsOnOnePage,
         currentPage: pageNumber,
         totalItems: totalPosts
          }; let i = index" [attr.data-index]="i + 1" [attr.id]="i + 1">

        <div class="card col-md-10">
          <div class="row g-0">

            <div class="col-md-2">
              <figure class="figure mb-0">

                <ng-container
                  *ngIf="post.profilePic !=null; then showUserAvatar; else showDefaultAvatar">
                </ng-container>

                <ng-template #showUserAvatar>
                  <img [src]="'data:image/jpeg;base64,' + post.profilePic"
                       alt="{{ post.user }}"
                       class="img-fluid rounded-start user-image">
                </ng-template>

                <ng-template #showDefaultAvatar>
                  <img class="img-fluid rounded-start user-image"
                       src="https://eu.ui-avatars.com/api/?size=256&name={{ post.user }}&length=1&color=FFFFFF&background=d4730b"
                       alt="{{ post.user }}">
                </ng-template>

                <figcaption class="figure-caption text-center mt-1">
                  <a class="user-profile-link"
                     [routerLink]="['/user-profile-settings/', post.user]">
                    {{ post.user }}
                  </a>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-10">
              <div class="text-muted date-time-post">Posted {{ post.dateTime | date: 'medium' }}</div>
              <ng-container
                *ngIf="post.moderated; then showPostWasModerated; else showPostContent">
              </ng-container>
              <ng-template #showPostWasModerated>
                <div class="moderated-post"> The post has been removed due to a violation of the forum rules </div>
              </ng-template>
              <ng-template #showPostContent>
                <div class="content-post"> {{ post.content }} </div>
              </ng-template>
            </div>

          </div>
        </div>

        <div *ngIf=showAdminButtons class="col-md-2 post-admin-button-wrapper">
          <ng-container
            *ngIf="post.moderated; then showUnModerateButton; else showModerateButton">
          </ng-container>
          <ng-template #showUnModerateButton>
            <button class="btn btn-light custom-width" type="submit" (click)="changePostStatus(post.id, false)">Show</button>
          </ng-template>
          <ng-template #showModerateButton>
            <button class="btn btn-secondary custom-width" type="submit" (click)="changePostStatus(post.id, true)">Hide</button>
          </ng-template>
        </div>

      </li>
    </ul>

    <ng-container [ngTemplateOutlet]="pagination"></ng-container>

    <app-post-add
      *ngIf="pageablePosts.length > 0"
      [topicId]="topicId"
      [isTopicOpen]="!topic.closed"
      (reloadTopicAndPosts)="reloadData()">
    </app-post-add>

  </div>
</div>

<ng-template #pagination>
  <div class="col-md-12" *ngIf="totalPages > 1">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>
</ng-template>
