<div class="row mt-4">
  <div class="col-lg-10">

    <div class="d-flex mb-3">
      <div class="me-auto">
        <h4>Latest topics in {{ category }}: </h4>
      </div>

      <div class="ms-auto">
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!tokenStorageService.isLoggedIn()"
          [routerLink]="['/topic-add', category]">
          Add new topic
        </button>
      </div>
    </div>

    <ng-container
      *ngIf="topicsLength > 0; then showListOfPosts; else showNoPostInfo">
    </ng-container>

    <ng-template #showListOfPosts>
      <div class="topics-list">

        <ng-container [ngTemplateOutlet]="pagination"></ng-container>

        <ul class="list-group mb-3 mt-10">
          <li class="col-md-12 d-flex border p-3 topic-item-list align-items-center" *ngFor="let pageableTopic of pageableTopics |
        paginate :{
        itemsPerPage: numberOfTopicsOnOnePage,
        currentPage: currentPage,
        totalItems: totalTopics
        }; let i=index">

            <div class="col-md-8 align-items-center">
              <div class="topic-info">
                <a class="topic-title" [routerLink]="['/topic/', pageableTopic.id]">
                  {{ pageableTopic.title }}
                </a>
                <div class="topic-author-with-date">posted by {{ pageableTopic.user }},
                   {{ pageableTopic.dateTime | date: 'd MMMM y' }}</div>
              </div>
            </div>

            <div class="col-md-1 topic-answers">
              {{ numberOfAnswersInPageableTopics[i] }} answers
            </div>

            <div class= "col md-3">
              <div class="row align-items-center topic-last-activity">
                <div class="col-md-3 avatar">
                <ng-container
                  *ngIf="lastPageableTopicActivities[i].userProfilePic !=null; then showUserAvatar; else showDefaultAvatar">
                </ng-container>

                <ng-template #showUserAvatar>
                  <img [src]="'data:image/jpeg;base64,' + lastPageableTopicActivities[i].userProfilePic"
                       alt="{{ lastPageableTopicActivities[i].userName }}"
                       class="user-avatar">
                </ng-template>

                <ng-template #showDefaultAvatar>
                  <div class="default-avatar-background">
                    <div class="default-avatar-text">
                      {{ lastPageableTopicActivities[i].userName.charAt(0).toUpperCase() }}
                    </div>
                  </div>
                </ng-template>
                </div>

                <div class="col-md-9">
                  <div class="card-body last-activity">
                    <div class="card-text last-activity-user">
                      {{ lastPageableTopicActivities[i].userName }} </div>
                    <a class="card-text last-activity-time"
                       [routerLink]="['/topic/', pageableTopic.id]"
                       [queryParams]="{ number: lastPageableTopicActivities[i].postNumber }">
                      <small class="text-muted">{{ lastPageableTopicActivities[i].timeOfLastActivity | date: 'd MMMM y ' }} </small>
                    </a>
                  </div>
                </div>

              </div>
            </div>

          </li>
        </ul>

        <ng-container [ngTemplateOutlet]="pagination"></ng-container>

      </div>
    </ng-template>

    <ng-template #showNoPostInfo>
      <div class="text-center mt-10">
        No topics in this section yet.
      </div>
    </ng-template>

  </div>
</div>

<ng-template #pagination>
  <div class="col-md-12" *ngIf="totalPages > 1">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>
</ng-template>

