<p></p>
<h3>Settings</h3>
<small class="text-muted">Customize your profile</small>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="row mt-4 col-md-10">
  <div class="col-md-3">
    <div class="nav flex-column nav-pills user-settings-panel" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active text-lg-start user-settings-panel-item-top" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
        <i class="fa fa-refresh user-settings-icon"></i>Password
      </button>
      <button class="nav-link text-lg-start user-settings-panel-item-center" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
        <i class="fa fa-shield user-settings-icon"></i>Settings
      </button>
      <button class="nav-link text-lg-start user-settings-panel-item-center" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
        <i class="fa fa-bookmark user-settings-icon"></i>Messages
      </button>
      <button class="nav-link text-lg-start user-settings-panel-item-bottom" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
        <i class="fa fa-clock-o user-settings-icon"></i>Settings
      </button>

    </div>
  </div>
  <div class="col-md-9">
    <div class="tab-content" id="v-pills-tabContent">

      <div class="tab-pane fade show active user-settings-window" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class="user-settings-window-header">
          Change password
        </div>

        <div class="user-settings-window-password-change">
          <form
          name="form"
          (ngSubmit)="f.form.valid && changePassword()"
          #f="ngForm"
          novalidate>
            <div class="form-group">
              <label for="currentPassword">Current password</label>
              <input
                type="password"
                class="form-control mt-1"
                id="currentPassword"
                name="currentPassword"
                [(ngModel)]="form.currentPassword"
                required
                minlength="5"
                maxlength="30"
                #currentPassword="ngModel"
                aria-describedby="Password">
              <div class="alert-danger" *ngIf ="currentPassword.errors && f.submitted">
                <div *ngIf ="currentPassword.errors.required">Current password is required</div>
                <div *ngIf ="currentPassword.errors.minlength || currentPassword.errors.maxlength">Incorrect password</div>
              </div>
            </div>
            <div class="form-group">
              <label for="newPasswordFirstTry">New password</label>
              <input
                type="password"
                class="form-control mt-1"
                id="newPasswordFirstTry"
                name="newPasswordFirstTry"
                [(ngModel)]="form.newPasswordFirstTry"
                required
                minlength="5"
                maxlength="30"
                #newPasswordFirstTry="ngModel"
                aria-describedby="Password">
              <div class="alert-danger" *ngIf ="newPasswordFirstTry.errors && f.submitted">
                <div *ngIf ="newPasswordFirstTry.errors.required">New password is required</div>
                <div *ngIf ="newPasswordFirstTry.errors.minlength">New password must have at least 5 characters</div>
                <div *ngIf ="newPasswordFirstTry.errors.maxlength">Maximum length of password (30) exceeded</div>
              </div>
            </div>
            <div class="form-group mt-1">
              <label for="newPasswordSecondTry">Repeat new password</label>
              <input
                type="password"
                class="form-control mt-1"
                id="newPasswordSecondTry"
                name="newPasswordSecondTry"
                [(ngModel)]="form.newPasswordSecondTry"
                required
                minlength="5"
                maxlength="30"
                #newPasswordSecondTry="ngModel"
                aria-describedby="Password">
              <div class="alert-danger" *ngIf ="newPasswordSecondTry.errors && f.submitted">
                <div *ngIf ="newPasswordSecondTry.errors.required">New password is required</div>
                <div *ngIf ="newPasswordSecondTry.errors.minlength">New password must have at least 5 characters</div>
                <div *ngIf ="newPasswordSecondTry.errors.maxlength">Maximum length of password (30) exceeded</div>
              </div>
            </div>
            <div class="alert-danger" *ngIf = !doesPasswordsMatch>
              Passwords doesn't match
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
          </form>
        </div>
      </div>




      <div class="tab-pane fade

      testt"

           id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <img class="img-fluid rounded-start user-image"
             src="https://eu.ui-avatars.com/api/?size=400&name=Jan&length=1&color=FFFFFF&background=d4730b"
             alt="Jan">
      </div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
    </div>
  </div>
</div>
