<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-12 col-xl-11 mt-3">
      <div class="card text-black">
        <div class="card-body p-md-5">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

              <p class="text-center h2 fw-bold mb-4 mx-1 mx-md-4 mt-4">Account activation</p>

              <div class="alert alert-success" *ngIf="showActivationSuccessfulMessage">
                {{ activationMessage }}
              </div>

              <div class="alert alert-info" *ngIf="showActivationErrorMessage">
                {{ activationMessage }}
              </div>

              <div class="alert alert-secondary" *ngIf="showPendingStatus">
                Please wait...
              </div>

              <div class="alert alert-success" *ngIf="showResendSuccessfulMessage">
                {{ resendMessage }}
              </div>

              <div class="alert alert-danger" *ngIf="showResendErrorMessage">
                {{ resendMessage }}
              </div>

              <div *ngIf="showResetActivationTokenButton" class="d-flex justify-content-center mt-4 mx-4 mb-3 mb-lg-4">
                <button
                  class="btn btn-primary btn-lg"
                  [disabled]="showResendSuccessfulMessage || showResendErrorMessage"
                  (click)="resendToken()">Re-send verification email</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
