<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">
      <img src="https://plchldr.co/i/600x300?&bg=EB6361&fc=fff&text=dev.to" width="30" height="30" class="d-inline-block align-top" alt="">
      My forum
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/topic-list">Main page</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf = tokenStorage.isLoggedIn()>
        <a class="nav-link" routerLink="/topic-add">+Add new topic</a>
      </li>
    </ul>

    <ul class="navbar-nav me-2" *ngIf = !tokenStorage.isLoggedIn()>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/auth/signin">Login</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/auth/signup">Registration</a>
      </li>
    </ul>

    <ul class="navbar-nav me-2" *ngIf = tokenStorage.isLoggedIn()>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/auth/signout" (click)="logout()">Wyloguj się</a>
      </li>
    </ul>

  </div>

</nav>
