<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/topic-categories']">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Placeholder_4_3_wmf_green.svg/1280px-Placeholder_4_3_wmf_green.svg.png"
      class="d-inline-block align-top img-style" alt="">
    My forum
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-3 me-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/topic-categories']">Main page</a>
      </li>
    </ul>

    <form class="d-flex ms-2 me-2">
      <div class="input-group">
        <div class="input-group-text p-0">
          <select
            #searchCriteriaSelector
            class="form-select shadow-none bg-light border-0 input"
            (change)="searchCriteriaChanged(searchCriteriaSelector.value)">
            <option value="topic titles">Topics</option>
            <option value="posts">Posts</option>
          </select>
        </div>
        <input type="search" class="form-control input" placeholder="Search in {{ searchCriteria }}..." #searchQuery>
        <button class="input-group-text shadow-none px-4 btn-success" (click)="search(searchQuery.value)">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>

    <ul class="navbar-nav ms-3 me-2" *ngIf="!isLoggedIn">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/auth/sign-in']">Sign in</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/auth/sign-up']">Sign up</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-3 me-2" *ngIf="isLoggedIn">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/user-profile-settings/', userName]">My profile</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link hover-effect" (click)="signOut()">Sign out</a>
      </li>
    </ul>
  </div>
</nav>

<app-loading></app-loading>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
