<li *ngFor="let post of posts" class="card mt-3 mb-3" id="postsList">
  <div class="row g-0">
    <div class="col-md-2">
      <!--          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid rounded-start" alt="...">-->
      <figure class="figure mb-0">
        <img
          class="img-fluid rounded-start"
          src="https://bootdey.com/img/Content/avatar/avatar1.png"
          alt="Teeetul">
        <figcaption class="figure-caption text-center mt-1">Janusz Kowalski
        </figcaption>
      </figure>
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <p class="card-text"> {{post.content}} </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</li>
<app-post-add></app-post-add>
