<div class="d-flex col md-10 form-group image-selector-container">

  <div class="col md-6">
    <label class="btn btn-default">
      <input type="file" accept=".jpg, .png" (change)="onFileSelected($event)"/>
    </label>

    <button
      [disabled]="!isAllowedToUpload"
      class="btn btn-success"
      (click)="onUpload()">
      Upload
    </button>

    <div *ngIf=imageError>{{ imageError }}</div>

    <div class="container row my-test-class">
<!--      <div class="col-md-12">-->
        <div *ngIf=retrievedImage>
          <img [src]="retrievedImage" class="test" alt="">
        </div>
<!--      </div>-->
    </div>

  </div>

  <div class="col md-6">

    <input type="file" (change)="fileChangeEvent($event)"/>

    <image-cropper class="my-size"
                   backgroundColor="ff1493"
                   [cropperMinWidth]="256"
                   [cropperMinHeight]="256"

                   [imageChangedEvent]="imageChangedEvent"
                   [maintainAspectRatio]="true"
                   [aspectRatio]="1"
                   format="png"
                   (imageCropped)="imageCropped($event)"
                   (imageLoaded)="imageLoaded($event)"
                   (cropperReady)="cropperReady()"
                   (loadImageFailed)="loadImageFailed()"
    ></image-cropper>

  </div>

</div>
