<div class="mt-4">

  <div class="d-flex col-md-10">
    <div class="me-auto">
      <h4>{{ welcomeTextHeader }}</h4>
      <small class="text-muted">{{ welcomeTextSub }}</small>
    </div>
    <div *ngIf=showBanUserButton class="ms-auto user-ban-button">
      <button class="btn btn-danger" type="submit"
              (click)="showBanUserWindow = true; sourceOfOpeningWindow = 'upperButton'">Ban this user
      </button>
    </div>
  </div>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="row mt-4 col-md-12">

    <div class="col-md-3">
      <div class="nav flex-column nav-pills user-settings-panel" id="v-pills-tab" role="tablist"
           aria-orientation="vertical">
        <button class="nav-link active text-lg-start user-settings-panel-item-top" id="v-pills-account-tab"
                data-bs-toggle="pill" data-bs-target="#v-pills-account" type="button" role="tab"
                aria-controls="v-pills-account" aria-selected="true"
                [ngClass]="{'active':activeTab==='account'}" (click)="selectActiveTab('account')">
          <i class="fa fa-sign-in user-settings-icon"></i>Account
        </button>
        <button *ngIf="showUserSettings" class="nav-link text-lg-start user-settings-panel-item-center"
                id="v-pills-home-tab"
                data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab"
                aria-controls="v-pills-home" aria-selected="false"
                [ngClass]="{'active':activeTab==='password'}" (click)="selectActiveTab('password')">
          <i class="fa fa-refresh user-settings-icon"></i>Password
        </button>
        <button *ngIf="showUserSettings" class="nav-link text-lg-start user-settings-panel-item-center"
                id="v-pills-profile-tab"
                data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab"
                aria-controls="v-pills-profile" aria-selected="false"
                [ngClass]="{'active':activeTab==='avatar'}" (click)="selectActiveTab('avatar')">
          <i class="fa fa-shield user-settings-icon"></i>Avatar
        </button>
        <button class="nav-link text-lg-start user-settings-panel-item-center" id="v-pills-messages-tab"
                data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab"
                aria-controls="v-pills-messages" aria-selected="false"
                [ngClass]="{'active':activeTab==='posts'}" (click)="selectActiveTab('posts')">
          <i class="fa fa-bookmark user-settings-icon"></i>Posts
        </button>
        <button class="nav-link text-lg-start user-settings-panel-item-center" id="v-pills-settings-tab"
                data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab"
                aria-controls="v-pills-settings" aria-selected="false"
                [ngClass]="{'active':activeTab==='topics'}" (click)="selectActiveTab('topics')">
          <i class="fa fa-clock-o user-settings-icon"></i>Topics
        </button>
        <button *ngIf="showAdminTab" class="nav-link text-lg-start user-settings-panel-item-bottom"
                id="v-pills-admin-tab"
                data-bs-toggle="pill" data-bs-target="#v-pills-admin" type="button" role="tab"
                aria-controls="v-pills-admin" aria-selected="false"
                [ngClass]="{'active':activeTab==='admin'}" (click)="selectActiveTab('admin')">
          <i class="fa fa-road user-settings-icon"></i>Admin
        </button>
      </div>
    </div>

    <div class="col-md-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane" id="v-pills-account" role="tabpanel" aria-labelledby="v-pills-account-tab"
             [ngClass]="{'active':activeTab==='account'}">
          <app-user-profile-settings-account-info [user]="user"
                                                  [showUserSettings]="showUserSettings"></app-user-profile-settings-account-info>
        </div>
        <div class="tab-pane" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
             [ngClass]="{'active':activeTab==='password'}">
          <app-user-profile-settings-password></app-user-profile-settings-password>
        </div>
        <div class="tab-pane" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
             [ngClass]="{'active':activeTab==='avatar'}">
          <app-user-profile-settings-avatar [username]="usernameFromUrl"
                                            [profilePic]="user.profilePic"></app-user-profile-settings-avatar>
        </div>
        <div class="tab-pane" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"
             [ngClass]="{'active':activeTab==='posts'}">
          <app-user-profile-settings-post-list [username]="usernameFromUrl"></app-user-profile-settings-post-list>
        </div>
        <div class="tab-pane" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"
             [ngClass]="{'active':activeTab==='topics'}">
          <app-user-profile-settings-topic-list [username]="usernameFromUrl"></app-user-profile-settings-topic-list>
        </div>
        <div class="tab-pane" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab"
             [ngClass]="{'active':activeTab==='admin'}">
          <app-user-profile-settings-admin-panel [loadAdminData]="showAdminTab"
                                                 (showUserBanWindowEvent)= "showBanUserWindow = true;
                                                  userNameOfCandidateToBan = $event;
                                                  sourceOfOpeningWindow = 'adminPanel'"></app-user-profile-settings-admin-panel>
        </div>
      </div>
    </div>
  </div>
</div>

<app-user-ban *ngIf="showBanUserWindow" [userName]="userNameOfCandidateToBan"
              [sourceOfOpeningWindow]="sourceOfOpeningWindow"
              (closeUserBanWindowEvent)="showBanUserWindow = false"></app-user-ban>
