<div class="col-md-10 user-settings-window">

  <div class="user-settings-window-header">
    Change password
  </div>

  <div class="user-settings-window-password-change">
    <form
      name="form"
      (ngSubmit)="f.form.valid && changePassword()"
      #f="ngForm"
      novalidate>
      <div class="form-group">
        <label for="currentPassword">Current password</label>
        <input
          type="password"
          class="form-control mt-1"
          id="currentPassword"
          name="currentPassword"
          [(ngModel)]="form.currentPassword"
          required
          minlength="5"
          maxlength="30"
          #currentPassword="ngModel"
          aria-describedby="Password">
        <div class="alert-danger" *ngIf="currentPassword.errors && f.submitted">
          <div *ngIf="currentPassword.errors.required">Current password is required</div>
          <div *ngIf="currentPassword.errors.minlength || currentPassword.errors.maxlength">Incorrect password</div>
        </div>
      </div>
      <div class="form-group">
        <label for="newPasswordFirstTry">New password</label>
        <input
          type="password"
          class="form-control mt-1"
          id="newPasswordFirstTry"
          name="newPasswordFirstTry"
          [(ngModel)]="form.newPasswordFirstTry"
          required
          minlength="5"
          maxlength="30"
          #newPasswordFirstTry="ngModel"
          aria-describedby="Password">
        <div class="alert-danger" *ngIf="newPasswordFirstTry.errors && f.submitted">
          <div *ngIf="newPasswordFirstTry.errors.required">New password is required</div>
          <div *ngIf="newPasswordFirstTry.errors.minlength">New password must have at least 5 characters</div>
          <div *ngIf="newPasswordFirstTry.errors.maxlength">Maximum length of password (30) exceeded</div>
        </div>
      </div>
      <div class="form-group mt-1">
        <label for="newPasswordSecondTry">Repeat new password</label>
        <input
          type="password"
          class="form-control mt-1"
          id="newPasswordSecondTry"
          name="newPasswordSecondTry"
          [(ngModel)]="form.newPasswordSecondTry"
          required
          minlength="5"
          maxlength="30"
          #newPasswordSecondTry="ngModel"
          aria-describedby="Password">
        <div class="alert-danger" *ngIf="newPasswordSecondTry.errors && f.submitted">
          <div *ngIf="newPasswordSecondTry.errors.required">New password is required</div>
          <div *ngIf="newPasswordSecondTry.errors.minlength">New password must have at least 5 characters</div>
          <div *ngIf="newPasswordSecondTry.errors.maxlength">Maximum length of password (30) exceeded</div>
        </div>
      </div>
      <div class="alert-danger" *ngIf=!doesPasswordsMatch>
        Passwords doesn't match
      </div>
      <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
  </div>

</div>
